.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}

.card {
    width: 25%;
    margin: 1% auto;
    background-color: #ECEFF1;
    border: 1px solid #17202A;
    border-radius: 5px;
}

.userImg {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #17202A;
}

.users-name, p {
    padding: 0 0.5rem;
    color: #17202A;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #17202A;
}

a:hover {
    text-decoration: underline;
}